body {
  background-color: #222;
  color: #fff;
  padding: 4em;
  padding-top: 5em;
  font-size: 15px;
  line-height: 1.4;
  font-family: system, -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue',
    'Lucida Grande', sans-serif;
  font-weight: 400;
  max-width: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ddd;
}

a:visited {
  color: #888;
}

a.hn {
  color: #f60;
}

a.tw {
  color: #1da1f2;
}

h1 {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 21px;
}

h1 a:visited {
  color: #fff;
}

article {
  align-items: baseline;
  display: flex;
  margin-bottom: 21px;
}

article > * {
  margin-right: 7px;
}

article h2 {
  font-weight: 300;
  font-size: 18px;
}

time {
  color: #666;
  white-space: nowrap;
  font-weight: 300;
}

footer {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #444;
  color: #888;
  display: flex;
  align-items: baseline;
}

footer > * {
  margin-right: 14px;
}

#new {
  transition: top 0.4s ease;
  position: fixed;
  top: -4em;
  background-color: #000;
  border: 1px solid #333;
  padding: 1em 2em;
}

#new.visible {
  top: 1em;
}

#new a,
#new a:visited {
  color: #5af78e;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 2em;
  }
}

@media only screen and (min-width: 531px) {
  article > a:first-child {
    white-space: nowrap;
    overflow: hidden;
  }

  article > a:first-child h2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 530px) {
  article {
    flex-direction: column;
    margin-bottom: 35px;
    align-items: start;
    overflow-x: hidden;
  }

  article > * {
    margin-right: 0;
    margin-bottom: 0.125em;
  }
}
