---
import Item from '../components/Item.astro'
import {fetchFeedItems} from '../utils/feed'

const items = await fetchFeedItems(Astro.locals.runtime.env, false)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/icon-512x512.png" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Saved for Later</title>

    <meta content="Saved for Later" property="og:title" />
    <meta content="https://savedforlater.dev/" property="og:url" />
    <meta content="Starred links from my feed reader." property="og:description" />
    <meta content="Starred links from my feed reader." name="description" />
    <link rel="alternate" type="application/rss+xml" title="Saved for Later RSS feed" href="/rss" />
    <link rel="alternate" type="application/atom+xml" title="Saved for Later RSS feed" href="/atom" />
    <link rel="alternate" type="application/json" title="Saved for Later RSS feed" href="/json" />
  </head>
  <body class="flex min-h-screen flex-col gap-4 bg-sand3 p-4 font-light text-sand12 md:p-16 md:pb-8">
    <h1 class="text-2xl md:text-4xl">Saved for Later</h1>

    {items.map((item) => <Item item={item} />)}

    <footer class="flex items-center gap-4 border-t border-sand6 pt-4 text-sm text-sand11">
      <span>
        Copyright &copy; {new Date().getFullYear()}{' '}
        <a class="hover:text-sand12" href="https://jacobwgillespie.com" target="_blank" rel="noreferrer">
          Jacob Gillespie
        </a>
      </span>
      <a class="hover:text-sand12" href="/rss">RSS</a>
      <a class="hover:text-sand12" href="/atom">Atom</a>
      <a class="hover:text-sand12" href="/json">JSON</a>
      <a
        class="hover:text-sand12"
        href="https://github.com/jacobwgillespie/saved-for-later"
        target="_blank"
        rel="noreferrer"
      >
        Source
      </a>
    </footer>
  </body>
</html>
